BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: false
  BeforeElse: true
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
